* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #3db20f;
  --onprimary: #fafafa;
  --bg: #020216;
  --onbg: #fafafa;
  --surface: #090822;
  --onsurface: #e0e0ef;
  --field: #25233a;
  --smooth: all 0.3s ease-in;
  --switch-transform: translateX(0px);
  --body-weight: 300;
  --h4-weight: 600;
}
.light-theme {
  --primary: #3db20f;
  --onprimary: #fafafa;
  --bg: #fafafa;
  --onbg: #020216;
  --surface: #f4f3fa;
  --onsurface: #25233a;
  --field: #d1d1e5;
  --smooth: all 0.3s ease-in;
  --switch-transform: translateX(24px);
  --body-weight: 500;
  --h4-weight: 600;
}
html {
  scroll-behavior: smooth;
  transition: var(--smooth);
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: var(--bg);
}
/* typeface */
h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.75rem;
  letter-spacing: -0.5px;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 3rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: var(--h4-weight);
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
p {
  font-size: 1rem;
  font-weight: var(--body-weight);
  line-height: 1.25rem;
  letter-spacing: 0.5px;
}
/* overlay */
#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
}
#overlay.show {
  display: initial;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
/* button */
button {
  text-align: center;
  font-style: normal;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--onprimary);
  background-color: var(--primary);
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  gap: 8px;
  cursor: pointer;
  transition: var(--smooth);
  border: none;
}
button:hover {
  background-color: #3bec0f;
  transition: var(--smooth);
}
/* header */
header {
  position: absolute;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
/* logo */
.header_logo {
  z-index: 1;
}
.header_logo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  align-items: center;
  cursor: pointer;
}
/* links */
.navbar_links {
  position: fixed;
  padding: 104px 56px;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: var(--surface);
  z-index: 5;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  opacity: 1;
}
.navbar_links.navbar_open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}
.link {
  list-style: none;
  margin: 24px 0px;
}
.link a {
  text-decoration: none;
  color: var(--onsurface);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.link a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.link a:hover {
  color: var(--primary);
}
.link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: var(--smooth);
  color: var(--primary);
}
.link_selected {
  list-style: none;
  margin: 24px 0px;
}
.link_selected a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.link_selected a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
}
.language {
  margin: 0px 20px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  text-decoration: none;
  color: var(--onbg);
  z-index: 1;
}

/* theme_switch */
#slider {
  cursor: pointer;
  z-index: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--field);
  border: 2px solid var(--onsurface);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 6px;
  left: 6px;
  -webkit-transform: var(--switch-transform);
  -ms-transform: var(--switch-transform);
  transform: var(--switch-transform);
  background-color: var(--onsurface);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  z-index: 2;
}
.material-icons {
  font-size: 16px;
}
input:checked + .slider {
  background-color: var(--field);
  border: 2px solid var(--onsurface);
}
input:checked + .slider:before {
  -webkit-transform: var(--switch-transform);
  -ms-transform: var(--switch-transform);
  transform: var(--switch-transform);
  background-color: var(--onsurface);
}
.dark {
  top: 6px;
  position: absolute;
  left: 6px;
  color: #25233a;
  z-index: 1;
}
.light {
  top: 6px;
  position: absolute;
  right: 6px;
  color: #e0e0ef;
  z-index: 1;
}
.slider.round {
  border-radius: 100px;
}
.slider.round:before {
  border-radius: 50%;
}

/* menu_icon */
.navbar_icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: var(--smooth);
}
/* icon2 */
.navbar_icon2 {
  width: 32px;
  height: 4px;
  background-color: var(--onbg);
  transition: var(--smooth);
  position: relative;
  z-index: 6;
}
.navbar_icon2:before,
.navbar_icon2:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: var(--onbg);
  transition: var(--smooth);
}
.navbar_icon2:before {
  transform: translateY(-8px);
}
.navbar_icon2:after {
  transform: translateY(8px);
}

/* icon animation */
.open .navbar_icon2 {
  position: fixed;
  background: transparent;
}
.open .navbar_icon2:before {
  position: fixed;
  transform: rotate(45deg);
  background: var(--onsurface);
}
.open .navbar_icon2:after {
  position: fixed;
  transform: rotate(-45deg);
  background: var(--onsurface);
}
/* banner */
.banner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}
.banner_img {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
}
.banner_img img {
  position: absolute;
  max-width: 40rem;
}
.banner_img .illustration {
  animation: MoveUpDown 3s linear infinite;
}
@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.banner_text {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;
}
.banner_text h1 {
  margin-bottom: 20px;
  color: var(--onbg);
}
.banner_text p {
  margin-bottom: 32px;
  color: var(--onbg);
}
.dec {
  position: absolute;
  width: 40rem;
  top: 0rem;
  right: 0rem;
  opacity: 0.6;
  z-index: -2;
}
/* carrousel */
/* .block {
  position: relative;
  height: 60vh;
  max-width: 100%;
  align-items: center;
}
.block_slider {
  overflow: hidden;
}
.work_blocks {
  height: 40vh;
  justify-content: space-evenly;
  will-change: transform;
  --unit: max (24px, 24px);
  --gap: calc(var(--unit) * 1);
  --rows: 2;
  --columns: 36;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column dense;
  grid-template-columns: repeat(var(--columns), auto);
  grid-template-rows: repeat(var(--rows), auto);
}
.block_items {
  grid-area: span 2 / span 16;
  position: relative;
  background-color: var(--field);
  border-radius: 8px;
} */
/* footer */
footer {
  background-color: #25233a;
}
.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  max-width: 1040px;
  height: 40vh;
  padding: 1rem 1rem 0 1rem;
}
.footer_logo {
  top: 0;
  margin: 1.5rem auto 1.5rem 0;
}
.footer_text {
  margin-bottom: 24px;
  color: #e0e0ef;
  top: 40%;
  margin: 0 auto 0 0;
  text-align: left;
}
.footer_text h3 {
  margin-bottom: 4px;
}
.footer_social {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
}
.footer_social a {
  color: #e0e0ef;
}
/* other pages */
.content {
  position: relative;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4rem;
  padding: 9rem 0 9rem 0;
}
.tittle {
  top: 9rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--onsurface);
  gap: 0.5rem 1.25rem;
  flex-wrap: wrap;
}
.tittle i {
  font-size: 2.75rem;
  color: var(--onbg);
}
.tittle i:hover {
  color: var(--primary);
  transform: scale(1.2);
}
.rectangle {
  height: 2.75rem;
  width: 4px;
  background-color: var(--primary);
  border-radius: 8px;
}
/* About me */
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
}
.info p {
  color: var(--onbg);
  text-align: left;
}
/* Works */
.work_categories {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: start;
}
.category {
  border-radius: 8px;
  padding: 0 0 1.25rem 0;
  color: var(--onprimary);
  background-color: var(--field);
}
.category:hover {
  transform: translateY(-0.75rem);
  transition: var(--smooth);
}
.category a {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.category_img {
  width: 100%;
}
.category_text {
  display: block;
  margin: 0 1rem 0 1rem;
  width: 9.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--onsurface);
}

/* Projects */
.work_cards {
  position: relative;
  max-width: 1040px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
}
.card {
  display: flex;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  padding: 2rem 1.5rem;
  align-items: flex-start;
  color: var(--onprimary);
  gap: 1.25rem;
  flex-direction: column-reverse;
}
.card_text {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}
.card_text p {
  font-weight: 300;
}
.tag {
  display: inline-block;
  width: fit-content;
  margin-right: 0.75rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: none;
  transition: none;
  color: var(--onprimary);
  text-transform: uppercase;
}
.card_img {
  width: 100%;
}
/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.contact label {
  color: var(--onbg);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
}
.form_block {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
.form_block form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_block input {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  background-color: var(--field);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--onsurface);
  cursor: text;
}
.form_block input::placeholder {
  color: var(--onsurface);
  opacity: 0.54;
  font-weight: 300;
}
textarea {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: none;
  background-color: var(--field);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--onsurface);
  cursor: text;
  resize: none;
}
textarea::placeholder {
  color: var(--onsurface);
  opacity: 0.54;
  font-weight: 300;
}
.form_block button {
  width: 100%;
  margin-top: 1.5rem;
}
.other_addresses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.myemail {
  display: inherit;
  flex-direction: inherit;
  gap: 1rem;
}
.myemail p {
  color: var(--onbg);
}
.mysocials {
  display: inherit;
  flex-direction: inherit;
  gap: 1.5rem;
}
.mysocials a {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  justify-content: flex-start;
  color: var(--primary);
  align-items: center;
  cursor: pointer;
}
/* desktop */
@media (min-width: 62em) {
  h1 {
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.75rem;
    letter-spacing: -0.5px;
  }
  h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  p {
    font-size: 1.25rem;
    font-weight: var(--body-weight);
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .navbar_links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
  }
  .link a {
    color: var(--onbg);
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    margin: 0rem 1.125rem;
  }
  .language {
    transform: none;
    line-height: 24px;
  }
  .navbar_icon1 {
    display: none;
  }
  .banner {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .banner_img {
    margin-top: 0;
    justify-content: flex-start;
    height: 65%;
  }
  .banner_img img {
    width: 56%;
    right: -2rem;
  }
  .banner_text {
    max-width: 27rem;
    margin: 0;
    text-align: initial;
  }
  .banner_text h1 {
    margin-bottom: 24px;
  }
  .banner_text p {
    margin-bottom: 40px;
  }

  .dec {
    position: absolute;
    width: 55rem;
    top: 0rem;
    right: 0rem;
    z-index: -2;
  }
  .footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    max-width: 1040px;
    height: 40vh;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }
  .footer_logo {
    margin: 1.25rem 1.25rem 1.25rem 0.5rem;
  }
  .footer_text {
    margin: 0 0 0 0;
  }
  .footer_social {
    width: 24rem;
    margin: 0 0 0 20%;
  }
  /* other pages */
  .tittle {
    gap: 1rem 1.25rem;
  }
  .link_selected {
    list-style: none;
    margin: 24px 0px;
  }
  .link_selected a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    margin: 0rem 1.125rem;
  }
  .link_selected a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
  }
  .rectangle {
    height: 3rem;
  }
  .info {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 20rem;
  }
  .info img {
    margin: 3rem 3rem;
  }
  /* Works */
  .work_categories {
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  .category {
    padding: 0 0 2rem 0;
  }
  .category a {
    gap: 1rem;
  }
  .category_text {
    margin: 0 2rem 0 2rem;
    width: 15.75rem;
    height: 4.5rem;
  }
  /* Projects*/
  .card {
    flex-direction: row;
    padding: 2.5rem 3rem;
    align-items: center;
    gap: 3rem;
  }
  .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .card_text {
    gap: 3rem;
  }
  .card_text p {
    max-width: 25rem;
  }
  .card_img {
    display: flex;
    align-items: center;
    width: auto;
    max-height: 21rem;
  }
  /* Contact */
  .contact {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  .form_block {
    width: 28.75rem;
  }
  .form_block form {
    gap: 1.25rem;
  }
  .other_addresses {
    gap: 2.5rem;
  }
  .mysocials a {
    font-size: 1rem;
  }
  .form_block button {
    width: fit-content;
    margin-top: 1.5rem;
  }
}
